/*@font-face {
  font-family: "Roboto";
  src: url("./components/Fonts/Roboto-Regular.ttf") format("ttf"),
    url("./components/Fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
  color: black;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  position: relative;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(103, 116, 103, 0.3);
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#li_login {
  position: absolute;

  left: 0px;
}
.Item_list {
  display: flex;
  left: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-decoration: none;
  flex-wrap: wrap;
  min-width: 25%;
  letter-spacing: 0.8px;
  background-color: #fff;
  box-shadow: 3px 3px rgb(103, 116, 103, 0.2);
  border-radius: 10%;
  padding: 0px 0px 5px 0px;
  border: 0.5px solid black;
}

.item_card:hover {
  cursor: pointer;
  animation-name: font-larger;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes font-larger {
  0% {
    box-shadow: 3px 3px rgb(103, 116, 103, 0.2);
  }
  100% {
    background-color: rgb(196, 199, 196);
    box-shadow: 3px 5px rgb(103, 116, 103, 1);
  }
}

.item_card:hover {
}

#card_image {
  position: relative;
  max-width: 250px;
  box-shadow: 3px 3px rgb(103, 116, 103, 0.2);
  align-self: normal;
  border-radius: 12% 12% 5% 5%;
}

header {
  background-color: rgb(180, 223, 180);
  height: 5vh;
  width: 100%;
  font-size: 22px;
  z-index: 1;
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

li {
  position: relative;
  top: 5px;
  list-style-type: none;
  margin: 0 100px 0 0;
}

main {
  position: absolute;
  float: left;
  width: 70%;
}

aside {
  position: absolute;
  top: 8vh;
  right: 1vw;
  min-height: 50vh;
  width: 30%;
  background-color: rgb(180, 223, 180);
  border-radius: 10%;
  z-index: 0;
}
.mycart {
  display: flex;
  position: relative;
  min-height: 100%;
}
#totalAmount {
  position: relative;
  bottom: 0;
  left: 0;
}

#add_btn {
  position: relative;

  border: 1px solid black;
  border-radius: 10%;
  width: 5vw;
  background-color: #fff;
}

#add_btn:hover {
  background-color: #767879;
}

#add_btn:active {
  border: 1px solid #61dafb;
  border-radius: 5%;
}

#btn_checkout {
}

div > ul {
  display: block;
}

.item_card > div {
  padding: 10px;
}
